<div class="row">  
  <div class="col-md-6 m-auto">
    <div class="dropdown mt-5">
      <button class="btn btn-outline-secondary form-select" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown">
        {{categoryName}}
      </button>
      <ul class="dropdown-menu">
        <li>
          <form action="/" id="categoryName">
            <button class="dropdown-item" type="submit" name="categoryInfo" id="categoryInfo" value="全部&">
              全部
            </button>
          {{#each categoryDropdown}}
              <button class="dropdown-item" type="submit" name="categoryInfo" id="categoryInfo" value="{{this.name}}&{{this._id}}">{{this.name}}</button>
          {{/each}}
          </form>
        </li>
      </ul>
    </div>

    <div class="col-8">
      <h5 class="mt-4">總金額：</h5>
      <h1 class="text-end fw-normal" style="font-size: 100px; color: #FF7300;">{{amountTotal}}</h1>
    </div>
    <ul class="list-group list-group-flush col">
      {{#each records}}
        <li class="list-group-item">
          <div class="row align-items-center">
            <i class="{{this.icon}} fa-2x col-1"></i>
            <div class="col-5">
              <div>{{this.name}}</div>
              <div>{{this.date}}</div>
            </div>
            <div class="col-2 align-items-center">
              <div class="col">{{this.amount}}</div>
            </div>
            <div class="col-4 text-center">
              <a href="/records/{{this._id}}/edit" class="btn btn-outline-success ms-2">修改</a>
              <form action="/records/{{this._id}}/?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-outline-danger ms-2">刪除</button>
              </form>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
    
    <div class="col-8 d-flex justify-content-center mt-5">
      <a href="/records/new" class="btn" style="background-color: #FF7300; color: #FFFFFF; width: 150px;">新增支出</a>
    </div>
  </div>
</div>
<script src="/javascripts/onselect.js"></script>
