<div class="row">
  <div class="col-md-6 m-auto">
    <select class="form-select row m-auto mt-5">
      <option selected>類別</option>
      <option value="1">家居物業</option>
      <option value="2">交通出行</option>
      <option value="3">休閒娛樂</option>
      <option value="4">餐飲飲食</option>
      <option value="5">其他</option>
    </select>

    <div class="col-8">
      <h5 class="mt-4">總金額：</h5>
      <h1 class="text-end fw-normal" style="font-size: 100px; color: #FF7300;">25260</h1>
    </div>
    {{#each icons}}
      <i class="{{this.icon}} fa-2x col-1"></i>
    {{/each}}
    <ul class="list-group list-group-flush col">
      {{#each records}}
        <li class="list-group-item">
          <div class="row align-items-center">
            <i class="{{this.icon}} fa-2x col-1"></i>
            <div class="col-5">
              <div>{{this.name}}</div>
              <div>{{this.date}}</div>
            </div>
            <div class="col-2 align-items-center">
              <div class="col">{{this.amount}}</div>
            </div>
            <div class="col-4 text-center">
              <a href="/record/{{this._id}}/edit" class="btn btn-outline-success ms-2">修改</a>
              <form action="/record/{{this._id}}/?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-outline-danger ms-2">刪除</button>
              </form>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
    
    <div class="col-8 d-flex justify-content-center mt-5">
      <a href="/record/new" class="btn" style="background-color: #FF7300; color: #FFFFFF; width: 150px;">新增支出</a>
    </div>
  </div>
</div>