<div class="row">
  <div class="col-md-6 m-auto">
    <div class="row mt-5">
      <div class="mt-3 row justify-content-center">
        <label class="col-2"><span class="text-danger">*</span>必填欄位</label>
        <h4 class="col-4 text-center">請輸入你的支出</h4>
      </div>
    </div>
    <form action="/records/new" method="POST" class="row">
      <div class="mt-5 row justify-content-center">
        <label class="col-2" for="name">名稱<span class="text-danger">*</span>：</label>
        <input class="col-4" type="text" name="name" id="name" value="{{name}}" required>
      </div>
      <div class="mt-5 row justify-content-center">
        <label class="col-2" for="date">日期<span class="text-danger">*</span>：</label>
        <input class="col-4" type="date" name="date" id="date" value="{{date}}" required>
      </div>
      <div class="mt-5 row justify-content-center">
        <label class="col-2" for="category">類別<span class="text-danger">*</span>：</label>
        <select class="form-select-sm col-4" name="category" id="category">
          {{#if categoryOne}}
            <option value="{{categoryOne._id}}">{{categoryOne.name}}</option>
          {{/if}}
          {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mt-5 row justify-content-center">
        <label class="col-2" for="amount">金額<span class="text-danger">*</span>：</label>
        <input class="col-4" type="number" name="amount" id="amount" value="{{amount}}" required>
      </div>
      <div class="mt-5 row justify-content-center">
        <label class="col-2"></label>
        <button class="col-4 btn btn-primary" type="submit">新增支出</button>
      </div>
    </form>
  </div>
</div>